// ! Main Colors Variants
$main: var(--main);

// ? Secondary Colors Variants
$secondary: var(--secondary);

// * Others Colors Variants
$grey: #EAEAEA;
$dark-grey: #8F8F8F;

.light-mode {
  // ! Main Colors Variants
  --main: #404040;

  // ? Secondary Colors Variants
  --secondary: #F6F6F6;
}

.dark-mode {
  // ! Main Colors Variants
  --main: #F6F6F6;

  // ? Secondary Colors Variants
  --secondary: #404040;
}