// ? Nexa Font Face
$Kinetic-Black: "Kinetic-Black", sans-serif;
@include font-face(Kinetic-Black, "./assets/fonts/KineticBlack");

$Kinetic-BlackItalic: "Kinetic-BlackItalic", sans-serif;
@include font-face(Kinetic-BlackItalic, "./assets/fonts/KineticBlackItalic");

$Kinetic-Bold: "Kinetic-Bold", sans-serif;
@include font-face(Kinetic-Bold, "./assets/fonts/KineticBold");

$Kinetic-BoldItalic: "Kinetic-BoldItalic", sans-serif;
@include font-face(Kinetic-BoldItalic, "./assets/fonts/KineticBoldItalic");

$Kinetic-Light: "Kinetic-Light", sans-serif;
@include font-face(Kinetic-Light, "./assets/fonts/KineticLight");

$Kinetic-LightItalic: "Kinetic-LightItalic", sans-serif;
@include font-face(Kinetic-LightItalic, "./assets/fonts/KineticLightItalic");

$Kinetic-Regular: "Kinetic-Regular", sans-serif;
@include font-face(Kinetic-Regular, "./assets/fonts/KineticRegular");

$Kinetic-RegularItalic: "Kinetic-RegularItalic", sans-serif;
@include font-face(Kinetic-RegularItalic, "./assets/fonts/KineticRegularItalic");

// ! Font Size Desktop
$fs-html: 0.972vw;

$fs-s: .9rem;
$fs-m: 1rem;
$fs-l: 1.2rem;
$fs-xl: 1.8rem;

$fs-xxl: 4rem;