// ? Nexa Font Face
// $Nexa-Book: "Nexa-Book", sans-serif;
// @include font-face(Nexa-Book, "./assets/fonts/Nexa-Book");


// ! Font Size Desktop
$fs-html: 10px;

$fs-d-h1: 13rem;
$fs-d-h2: 3.5rem;
$fs-d-h3: 2.25rem;
$fs-d-p: 1.8rem;
$fs-d-ps: 1.6rem;
$fs-d-menu: 1.6rem;
$fs-d-icon: 5rem;

$fs-t-h1: 13rem;
$fs-t-h2: 3.5rem;
$fs-t-h3: 2.25rem;

$fs-m-h1: 15rem;
$fs-t-h2: 3.5rem;
$fs-t-h3: 2.25rem;
$fs-m-p: 1.8rem;
$fs-m-ps: 1.4rem;